/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
/* shared styles  start*/
.flex {
  display: flex;
}
.max-width {
  max-width: 1440px;
}
.margin-zero-auto {
  margin: 0 auto;
}
.btn-bg {
  background-color: rgb(230, 83, 60);
}
.font-white {
  color: rgb(255, 255, 255);
}
.text-info {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
.mt-96 {
  margin-top: 6.125rem;
}
/* shared styles  end*/

/* individual styles start  */
.header-contatiner {
  background: linear-gradient(
    0deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0.5) 100%
  );
  padding-top: 2rem;
}
.brand {
  color: rgb(230, 73, 60);
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-container {
  align-items: center;
  justify-content: space-between;
}
.nav-items {
  column-gap: 2.938rem;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 2.438rem;
  padding: 0.313rem;
}
.nav-item {
  list-style: none;
  padding: 0.5rem 1.25rem;
  border-radius: 2.875rem;
  font-weight: 600;
  font-size: 1.125rem;
}
.nav-item a {
  text-decoration: none;
}
.title-text-container {
  width: 600px;
}
.title {
  font-size: 4.875rem;
  font-weight: 900;
}
.title span {
  font-family: "Dancing Script", cursive;
}
.title-text-container .text-info,
.banner-btn-container {
  margin-top: 0.875rem;
}
.banner-btn-container {
  column-gap: 0.875rem;
}
.border {
  border: 0.063rem solid rgb(255, 255, 255);
  border-radius: 2.625rem;
}
.banner-container {
  justify-content: space-between;
  align-items: center;
}
.img-container {
  width: 349px;
}
.img-container img {
  width: 100%;
}
